#previewBox, .previewBox { position: relative; width: 0; height: 0; display: none; background-color: green; border: 1px solid black; z-index: 100; margin-top: 10px; }
#previewBox div, .previewBox div { word-wrap: break-word; }
input.small { width: 40px; }